<!-- Navbar de la app -->
<app-navbar></app-navbar><br />

<!-- Sección de Productos -->
<div class="container-fluid mt-4">
  <div class="row">
    <!-- Producto 1 -->
    <div class="col-md-4">
      <div class="card product-card">
        <img src="assets/productoo.png" alt="Producto 1" />
        <div class="product-info">
          <h5 class="card-title">Ensalada con crotones</h5>
          <p class="product-price">$100</p>
          <button class="add-to-cart-btn">Agregar al carrito</button>
          <button class="add-to-cart-btn mt-2">Comprar ahora</button>
        </div>
      </div>
    </div>

    <!-- Producto 2 -->
    <div class="col-md-4">
      <div class="card product-card">
        <img src="assets/prductoo2.png" alt="Producto 2" />
        <div class="product-info">
          <h5 class="card-title">Te</h5>
          <p class="product-price">$120</p>
          <button class="add-to-cart-btn">Agregar al carrito</button>
          <button class="add-to-cart-btn mt-2">Comprar ahora</button>
        </div>
      </div>
    </div>

    <!-- Producto 3 -->
    <div class="col-md-4">
      <div class="card product-card">
        <img src="assets/productoo3.png" alt="Producto 3" />
        <div class="product-info">
          <h5 class="card-title">Lonche de pierna</h5>
          <p class="product-price">$90</p>
          <button class="add-to-cart-btn">Agregar al carrito</button>
          <button class="add-to-cart-btn mt-2">Comprar ahora</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CDN de Bootstrap JS y dependencias (jQuery y Popper.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
