<!-- Contenido del modal template -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar una nueva tarea</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateFormulario" (ngSubmit)="updateTarea()">
      <div class="form-group">
        <label for="nombre"><b>Nombre de la tarea</b></label>
        <br />
        <input
          formControlName="nombre"
          type="text"
          class="form-control"
          id="nombre"
        />
      </div><br><br>
      <button type="submit" class="btn btn-outline-success">Editar tarea <i class="fa fa-pen"></i></button>
    </form>
  </div>
</ng-template>

<!-- Botón que accionará el modal -->
<button type="submit" class="btn btn-success" (click)="open(content)">
  Editar tarea <i style="margin-left: 2px" class="fa fa-pen"></i>
</button>
