<app-navbar></app-navbar>
<!-- PRODUCTO -->
<div class="container product-container">
  <div class="d-flex justify-content-center">
      <div class="card product-card row g-0">
          <!-- Imagen del producto -->
          <div class="col-md-6">
              <img src="assets/imagen comida.png" alt="Producto" class="product-image">
          </div>

          <!-- Detalles del producto -->
          <div class="col-md-6 d-flex flex-column justify-content-between p-4">
              <h2 class="h4">Royos Primaverales</h2>
              <p class="mb-3">¡MUY BUENAS COMPAÑEROS!

                  YA NOS ENCONTRAMOS EN CUCEA EMPRENDE, STAND 16

                  Hoy traemos a la venta deliciosos rollitos primavera con arroz a la jardinera 🍚🍛🥕😋

                  Los rollitos están rellenos con zanahoria 🥕 y col 🥬guisados en una salsa agridulce ♨ 🤤

                  Cada Bowl contiene una capa de arroz y 2 rollitos primavera 🌸🌼
                  Vienen también con salsa de soya aparte🍶y cubiertos para disfrutar 🥄
                  A solo: $50 pesitos

                  Te lo llevamos a cualquier parte de cucea 🏃🏽‍♀🏃🏻 o nos encontramos en el Stand 16 de la explanada de las fuentes ☺
                  También aceptamos transferencias 💳
              </p>
              <div class="product-price">$150</div>
              <button class="add-to-cart-btn">Agregar al carrito</button>
              <button class="buy-now-btn">Comprar ahora</button>
          </div>
      </div>
  </div>
</div>
