<app-navbar></app-navbar>
<!-- PROFILE -->
<div class="container profile-container">
  <div class="profile-header">
    <h2>Perfil de Usuario</h2>
    <p>Información básica sobre tu cuenta</p>
    <!-- Imagen de perfil -->
    <img
      src="assets/perfil.png"
      alt="Imagen de Perfil"
      class="profile-image"
    />
  </div>

  <div class="profile-info">
    <h4>Nombre:</h4>
    <p>Juan Pérez</p>
  </div>

  <div class="profile-info">
    <h4>Correo Electrónico:</h4>
    <p>juan.perezemail.com</p>
  </div>

  <div class="profile-info">
    <h4>Teléfono:</h4>
    <p>(+52) 123 456 7890</p>
  </div>

  <div class="profile-info">
    <h4>Dirección:</h4>
    <p>Calle Falsa 123, Ciudad de México</p>
  </div>

  <div class="payment-methods">
    <h4>Métodos de Pago Guardados:</h4>

    <div class="payment-method">
      <p><strong>Tarjeta de Crédito</strong>: **** **** **** 1234</p>
      <p><strong>Tipo:</strong> Visa</p>
      <p><strong>Fecha de Expiración:</strong> 12/24</p>
    </div>

    <div class="payment-method">
      <p><strong>Tarjeta de Débito</strong>: **** **** **** 5678</p>
      <p><strong>Tipo:</strong> Mastercard</p>
      <p><strong>Fecha de Expiración:</strong> 11/25</p>
    </div>

    <div class="payment-method">
      <p><strong>PayPal</strong>: juan.perezemail.com</p>
    </div>
  </div>

  <button class="edit-profile-btn">Editar Perfil</button>
  <button class="logout-btn">Cerrar Sesión</button>
</div>
