<form
  [formGroup]="formulario"
  (ngSubmit)="enviarFormulario()"
  class="container mt-4"
>
  <div class="form-group">
    <label for="cantidadEntradas">Cantidad de entradas:</label>
    <input
      type="number"
      id="cantidadEntradas"
      formControlName="cantidadEntradas"
      class="form-control"
    />
    <div
      *ngIf="
        formulario.get('cantidadEntradas')!.invalid &&
        formulario.get('cantidadEntradas')!.touched
      "
      class="text-danger"
    >
      <div *ngIf="formulario.get('cantidadEntradas')!.hasError('required')">
        La cantidad de entradas es requerida.
      </div>
      <div *ngIf="formulario.get('cantidadEntradas')!.hasError('min')">
        La cantidad de entradas debe ser mayor o igual a 1.
      </div>
    </div>
  </div>
  <br />
  <div class="form-group">
    <label for="nombrePersona">Nombre de la persona:</label>
    <input
      type="text"
      id="nombrePersona"
      formControlName="nombrePersona"
      class="form-control"
    />
    <div
      *ngIf="
        formulario.get('nombrePersona')!.invalid &&
        formulario.get('nombrePersona')!.touched
      "
      class="text-danger"
    >
      <div *ngIf="formulario.get('nombrePersona')!.hasError('required')">
        El nombre de la persona es requerido.
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="formulario.invalid"
          (click)="enviarFormulario()"
        >
          Siguiente <i class="fa fa-arrow-right"></i>
          <i class="fa fa-check-circle-o" style="margin: 6px"></i>
        </button>
      </div>
    </div>
  </div>
</form>
