<div class="">
  <div class="container">
    <br />
    <p class="text-center">
      Porfavor complete el formulario para realizar el pago
    </p>
    <hr />

    <div class="row">
      <!-- col.// -->
      <aside class="col-sm-12">
        <article class="card">
          <div class="card-body p-5">
            <ul
              class="nav bg-light nav-pills rounded nav-fill mb-3"
              role="tablist"
            >
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill">
                  <i class="fa fa-credit-card"></i> Credit Card</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill">
                  <i class="fab fa-paypal"></i> Paypal</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill">
                  <i class="fa fa-university"></i> Bank Transfer</a
                >
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="nav-tab-card">
                <form [formGroup]="myForm">
                  <div class="form-group">
                    <label for="username">Full name (on the card)</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="username"
                      placeholder="Ingrese su nombre completo"
                      required
                    />
                  </div>
                  <br />

                  <div class="form-group">
                    <label for="cardNumber">Número de tarjeta</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="cardNumber"
                      placeholder="XXXX-XXXX-XXXX"
                      (keydown)="formatCardNumber($event)"
                    />
                    <small
                      class="text-danger"
                      *ngIf="
                        myForm.get('cardNumber')!.invalid &&
                        myForm.get('cardNumber')!.touched
                      "
                    >
                      Por favor, ingresa un número de tarjeta válido.
                    </small>
                  </div>
                  <br />

                  <div class="row">
                    <div class="col-sm-8">
                      <div class="form-group">
                        <label><span class="hidden-xs">Expiration</span></label>
                        <div class="input-group">
                          <input
                            type="number"
                            class="form-control"
                            placeholder="MM"
                            formControlName="expirationMonth"
                          />
                          <input
                            type="number"
                            class="form-control"
                            placeholder="YY"
                            formControlName="expirationYear"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label
                          data-toggle="tooltip"
                          title=""
                          data-original-title="3 digits code on back side of the card"
                          >CVV <i class="fa fa-question-circle"></i
                        ></label>
                        <input
                          type="number"
                          placeholder="XYZ"
                          class="form-control"
                          formControlName="cvv"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <br /><br />

                  <div class="btn-group">
                    <button
                      class="btn btn-primary"
                      type="button"
                      (click)="previous()"
                    >
                      <i class="fas fa-arrow-left" style="margin: 4px"></i>
                      Anterior
                    </button>
                    <button class="btn btn-success" type="button" (click)="createReservacion()">
                      Realizar pago
                      <i class="fas fa-credit-card" style="margin: 4px"></i>
                    </button>
                  </div>
                </form>
              </div>
              <!-- tab-pane.// -->
              <div class="tab-pane fade" id="nav-tab-paypal">
                <p>Paypal is easiest way to pay online</p>
                <p>
                  <button type="button" class="btn btn-primary">
                    <i class="fab fa-paypal"></i> Log in my Paypal
                  </button>
                </p>
                <p>
                  <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.
                </p>
              </div>
              <div class="tab-pane fade" id="nav-tab-bank">
                <p>Bank accaunt details</p>
                <dl class="param">
                  <dt>BANK:</dt>
                  <dd>THE WORLD BANK</dd>
                </dl>
                <dl class="param">
                  <dt>Accaunt number:</dt>
                  <dd>12345678912345</dd>
                </dl>
                <dl class="param">
                  <dt>IBAN:</dt>
                  <dd>123456789</dd>
                </dl>
                <p>
                  <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.
                </p>
              </div>
              <!-- tab-pane.// -->
            </div>
            <!-- tab-content .// -->
          </div>
          <!-- card-body.// -->
        </article>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!--container end.//-->
</div>
