<!-- Movie container -->
<div class="movie-container row">
  <div class="col-2">
    <label><b>Seleccione una función:</b></label>
  </div>
  <div class="col-4">
    <select
      #select
      class="form-control"
      id="movie"
      (change)="updateSelectedMovie($event)"
    >
      <option
        *ngFor="let movie of funciones; let i = index"
        [value]="movie.precio"
      >
        {{ movie.nombre }} ({{ movie.precio | currency : "MXN" }})
      </option>
    </select>
  </div>
</div>

<!-- Showcase -->
<ul class="showcase">
  <li>
    <div class="seat"></div>
    <small>Disponible</small>
  </li>
  <li>
    <div class="seat selected"></div>
    <small>Seleccionado</small>
  </li>
  <li>
    <div class="seat sold"></div>
    <small>Vendido</small>
  </li>
</ul>

<div class="container">
  <!-- pantalla -->
  <div class="screen"></div>
  <!-- Renderizar asientos -->
  <div class="d-flex align-items-center justify-content-center">
    <div class="row" *ngFor="let row of seatRows; let i = index">
      <div
        class="seat"
        *ngFor="let seat of row; let j = index"
        [ngClass]="{ sold: seat.sold, selected: seat.selected }"
        (click)="toggleSeatSelection(i, j)"
      ></div>
    </div>
  </div>
</div>

<!-- Numero de asientos y total -->
<div class="d-flex align-items-center justify-content-center">
  <p class="text">
    Has seleccionado <span id="count">{{ selectedSeatsCount }}</span> asientos
    con un precio de
    <span id="total">{{ selectedSeatsCount * ticketPrice }}</span> MXN
  </p>
</div>
